:root {
  --bg-clr: #fff;
  --txt-clr: #000;
}

[data-theme="dark"] {
  --bg-clr: #000;
  --txt-clr: #fff;
}

.light-dark-container {
  height: 100vh;
  background: var(--bg-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--txt-clr);
}

.light-dark-container button {
  color: var(--txt-clr);
  background: var(--bg-clr);
}
